<!DOCTYPE html>
<html>
<body>
    <div>
        <form action="/" method="get">
            <button type="submit"> Go To Table List </button>
        </form>
    </div>   
    <div>
    <h1><%= tableName %></h1>
        <table border="1">
            <tr>
                <%
                        var columnList = [];
                        if(tableMetadata.length!=0){
                            tableMetadata.forEach(function(data){
                                var keys = Object.keys(data);
                                keys.forEach(function(key){
                                    if(key = 'ColumnName'){
                                        if(columnList.indexOf(data[key]) === -1){
                                            columnList.push(data[key]);
                                        }
                                    }
                                })
                            })
                        }    
                        columnList.forEach(function(value){
                    %>
                        <th><%= value %></th>
                    <% 
                        })
                    %>
                <td>Edit</td>
                <td>Delete</td>
            </tr> 
            <%
                if(tableData.length!=0){
                var i=1;
                tableData.forEach(function(data){
            %>
            <form id= "<%= tableName + '.' + i %>" method= "post" >
            <tr>
                    <% Object.keys(data).forEach(function(key) { %>
                        <td><input type="text" name="<%= key %>" value="<%= data[key] %>"></td>
                    <% }); %>
                    <td>
                        <button type="Submit" formaction ="<%= tableName + '/Update' %>">Update</button>
                        <input type="hidden" name=IntialValue value ="<%= JSON.stringify(data) %>" />
                    </td>
                    <td><button type="Submit" formaction ="<%= tableName + '/Delete' %>">Delete</button></td>
                
            </tr>
            </form>
            <%  i++; }) } %>
            <tr>
            <form id= "<%= tableName + '.Insert'  %>" method= "post" >
                    <%
                        columnList.forEach(function(value){
                    %>
                       <td><input type="text" name="<%= value %>"></td>
                    <% 
                       })
                    %>
                       <td>
                           <button type="Submit" formaction ="<%= tableName + '/Insert' %>">Insert</button>
                       </td>
                       <td><div>Click on Insert to Add Data</div></td>
            </form>   
            </tr>
        </table>
    </div>
</body>
</html>